@{
    Layout = "_Layout";

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p class="fs-6 pt-1">
        Para ver la distintas listas elige el link correspondiente
    </p>
    <div class="d-flex justify-content-center">
        <div class="pt-1">
            <a href="~/User/Index" class="btn btn-success">Lista de Usuarios</a>
        </div>
        <div class="pt-1 ps-1">
            <a href="~/Account/Index" class="btn btn-info">Lista de Cuentas</a>
        </div>
        <div class="pt-1 ps-1">
            <a href="~/Transfer/Index" class="btn btn-info">Lista de Transferencias</a>
        </div>
    </div>
</div>