@using Service.Services;
@using Service.Contracts;
@using Model.Entities;
@inject IUserService UserService;

@{
    var entityService = UserService;
    var users = UserService.Load(1);
}

<h1>BLA BLA BLA</h1>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}
